body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.span-header {
  color: #2e2f42;
}

.contact-info {
  font-style: normal;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

.contact-info .contact-list {
  display: flex;
  gap: 40px;
}

.nav-list,
.contact-list,
.features-list,
.team-list,
.portfolio-list {
  list-style-type: none;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}

.nav-item .nav-link {
  padding: 24px 0;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.contact-link:active,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  letter-spacing: 0.02em;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
}

.order-button {
  color: #fff;
  font-weight: 500;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.hero-title,
.feature-title,
.team-title,
.team-member-name,
.portfolio-main-title,
.portfolio-title {
  letter-spacing: 0.02em;
}

.feature-title,
.team-member-name,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.team-title,
.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.team-member {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.span-footer {
  color: #f4f4fd;
}

.footer-description {
  color: #f4f4fd;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}
